@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-sm btn-primary mr-2" })
        </li>
        <li><a href="javascript: document.getElementById('logoutForm').submit()" class="btn btn-sm btn-danger">Log off</a></li>
    </ul>
    }
}
else
{
    <a href="@Url.Action("Register", "Account", routeValues: null)" class="btn btn-success btn-sm mx-2">Register an account with us!</a>
    <a href="@Url.Action("Login", "Account", routeValues: null)" class="btn btn-success btn-sm">Login</a>

}
