<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Welcome!</h5>
        <hr />
        <p class="card-text text-center">We are a family-owned outdoor Gear Shop located in Evansville, Indiana. Come stop by and see our selection of Gear!</p>
        <p class="card-text text-center">All of our gear is listed at the lowest prices available, meaning you will be getting a great deal when buying from our store!</p>
    </div>
    <div class="card-body text-center">
        <p class="card-text font-weight-bold">Our Address is:</p>
        <address class="card-text">
            Balboa Drive<br />
            Evansville, IN, 47725<br />
            <abbr title="Phone">P:</abbr>
            812.123.4567
        </address>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1569.9432684108936!2d-87.51453799939915!3d38.09630475331383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886e2843ea463f15%3A0xd0ca69728914dcdf!2s13031%20Balboa%20Dr%2C%20Evansville%2C%20IN%2047725!5e0!3m2!1sen!2sus!4v1621350399920!5m2!1sen!2sus" style="height: 600px; border: 5px solid transparent;" loading="lazy"></iframe>
</div>